body{
    background: rgb(255,0,0);
    background: linear-gradient(211deg, rgba(255,0,0,1) 50%, rgba(0,0,0,1) 50%);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.cont{
    background: rgb(105,0,90);
    background: linear-gradient(211deg, rgba(105,0,90,1) 50%, rgba(195,23,87,1) 50%);
    width: 40vw;
    height: 60vh;
    margin: 100px 0px 0px 350px;
    position: relative;
    border-radius: 20%;
}
.main{ 
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    margin: 1px 0px 0px 50px;
    position: relative;
}
.img{
    margin-top: 40px;
    width: 200px;
    height: fit-content;
    display: flex;
    animation: slide_animation 20s infinite;
    position: relative;
}
@keyframes slide_animation{
        0%{right: 0px;}
        10%{right: 200px;}
        20%{right: 420px;}
        30%{right: 680px;}
        40%{right: 910px;}
        50%{right: 1150px;}
        60%{right: 1380px;}
        70%{right: 1150px;}
        80%{right: 910px;}
        85%{right: 680px;}
        90%{right: 420px;}
        95%{right: 200px;}
        100%{right: 0px;}
}
.name{
    letter-spacing: 1px;
    position: relative;
    font-size: x-large;
    font-weight: 900px;
    bottom: 280px;
    left: 312px;
    color: white;
    border: 2px solid aqua;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
}
.name::before{
    content: "your(name)";
    position: absolute;
    color: gold;
    border-right: 2px solid gold;
    animation: slide 3s linear infinite;
    -webkit-animation: slide 3s linear infinite;
    overflow: hidden;
    letter-spacing: 1px;
}
@keyframes slide{
    0%{
        width: 0%;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}
.snapchat{
    position: relative;
    bottom: 250px;
    left: 310px;
    color: yellow;
}
.instagram{
    position: relative;
    bottom: 250px;
    left: 310px;
    color: rgb(255, 0, 0);
}
.slink{
    position: relative;
    bottom: 295px;
    left: 375px;
    color: yellow;
    text-decoration: none;
    font-size: large;
    font-weight: 500px;
}
#ilink{
    position: relative;
    bottom: 275px;
    left: 325px;
    color: red;
    text-decoration: none;
    font-size: x-large;
    font-weight: 500px;
}
@media (max-width: 940px){
    body{
        background: rgb(8,8,8);
        background: linear-gradient(135deg, rgba(8,8,8,1) 43%, rgba(255,1,1,1) 43%, rgba(255,1,1,1) 44%, rgba(181,2,2,1) 52%, rgba(0,0,0,1) 52%);
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
        overflow: hidden;
        scroll-behavior: none;
    }
    .cont{
        margin: 0px 0px 0px 0px;
        position: relative;
        width: 0vw;
        height: 4vh;
    }
    .main{ 
        width: 60vw;
        height: 60vh;
        overflow: hidden;
        margin: 0px 0px 60px 60px;
        position: relative;
    }
    .img{
        width: 250px;
        height: fit-content;
        display: flex;
        animation: slide_animation 20s infinite;
        position: relative;
    }
    @keyframes slide_animation{
        0%{right: 0px;}
        10%{right: 200px;}
        20%{right: 420px;}
        30%{right: 680px;}
        40%{right: 910px;}
        50%{right: 1150px;}
        60%{right: 1380px;}
        70%{right: 1150px;}
        80%{right: 910px;}
        85%{right: 680px;}
        90%{right: 420px;}
        95%{right: 200px;}
        100%{right: 0px;}
    }
    .name{
        position: relative;
        font-size: x-large;
        font-weight: 900px;
        bottom: 90px;
        left: 55px;
        color: white;
        border: 2px solid aqua;
        width: fit-content;
        height: fit-content;
        border-radius: 10px;
    }
    .snapchat{
        position: relative;
        bottom: 70px;
        left: 65px;
        color: yellow;
    }
    .instagram{
        position: relative;
        bottom: 80px;
        left: 65px;
        color: rgb(255, 0, 0);
    }
    .slink{
        position: relative;
        bottom: 115px;
        left: 130px;
        color: yellow;
        text-decoration: none;
        font-size: large;
        font-weight: 500px;
    }
    #ilink{
        position: relative;
        bottom: 130px;
        left: 130px;
        color: rgb(255, 0, 0);
        text-decoration: none;
        font-size: x-large;
        font-weight: 500px;
    }
}